@media only screen and (max-width: 1020px) {
    .site-hero {
      background-image: url('./img/hamburger.svg');
      background-position-y: -1000px;
    }
    
    .hero-hidding {
      width: 380px;
      font-size: 64px;
      line-height: 56px;
    }
  
    .hero-text::before {
      margin-bottom: 10px;
    }
  
    .site-middle {
      padding-top: 100px;
      padding-bottom: 100px;
      background-position: right center;
    }
  
    .middle-inner {
      flex-direction: column;
      align-items: center;
    }
  
    .site-hiding {
      font-size: 32px;
      line-height: 32px;  
      margin-left: -220px;
    }
  
    .item-text {
      width: 478px;
    }
  
    .company-title {
      padding-top: 100px;
      width: 500px;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
    }
  
    .company-list {
      flex-direction: column;
    }
  
    .company-item {
      width: 700px;
      padding-top: 84px;
      margin-bottom: 0;
    }
  
    .item-bottom {
      padding-bottom: 100px;
    }
  
    .company-item-img::before {
      margin-top: -90px;
    }
  
    .contact-start {
      padding: 90px 0;
    }
  
    .contact-title {
      font-size: 32px;
      line-height: 32px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .hero-content {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-text {
      width: 100%;
      margin-top: 24px;
      font-size: 15px;
      line-height: 28px;
    }
  
    .hero-text::before {
      display: none;
    }
  
    .header-inner {
      padding-top: 72px;
    }
  
    .logo-img{
      width: 128px;
      height: 32px;
    }
  
    .site-middle {
      background-position: right top;
    }
  
    .company-item {
      width: 500px;
    }
  
    .footer-inner {
      flex-direction: column;
    }
  
    .footer-merger {
      justify-content: space-between;
      text-align: end;
    }
  
    .footer-last {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .site-hiding {
      width: 500px;
      margin-left: 0;
    }
  
    .middle-item {
      margin-top: 130px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
  
    .item-img-1::before {
      margin-top: -90px;
      margin-left: -35px;
    }
  
    .item-img-2::before {
      margin-top: -90px;
      margin-left: -35px;
    }
  
    .item-img-3::before {
      margin-top: -90px;
      margin-left: -35px;
    }
  
    .item-text {
      text-align: center;
      width: 400px;
    }
  }
  
  @media only screen and (max-width: 580px) {
    .navbar-list, .header-link {
      display: none;
    }
    .header-btn {
      display: block;
    }
    .site-hiding {
      width: 100%;
    }
    .company-item {
      width: 100%;
    }
    .company-title {
      width: 100%;
    }
    .site-contact {
      background-position-y: 168px;
    }
    .contact-start {
      flex-direction: column;
    }
    .contact-title {
      text-align: center;
      margin-bottom: 25px;
    }
    .footer-midle {
      margin: 0;
    }
  }
  
  @media only screen and (max-width: 445px){
    .item-text {
      width: 100%;
    }
  
    .footer-merger {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-navbar-list {
      justify-content: center;
      margin-bottom: 24px;
    }
  
    .footer-last {
      flex-direction: column;
    }
  
    .last-list {
      justify-content: center;
    }
  
    .footer-last-text {
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 390px) {
    .site-hero {
      padding-bottom: 197px;
    }
    
    .hero-hidding {
      width: 100%;
      font-size: 40px;
      line-height: 40px;
    }
  
    .item-title {
      text-align: center;
    }
  }
  @media only screen and (max-width: 365px) {
    .site-contact {
      background-position-y: 200px;
    }
  }